@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?voc6ct');
  src:  url('../fonts/icomoon.eot?voc6ct#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?voc6ct') format('truetype'),
    url('../fonts/icomoon.woff?voc6ct') format('woff'),
    url('../fonts/icomoon.svg?voc6ct#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dollar:before {
  content: "\e900";
}
.icon-person:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}
